# Large datasets
data/raw_data/
data/crime_500k_sample.csv
data/crime_cleaned.csv
data/crime_feature_engineered.csv

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# MLflow
mlruns/
mlflow.db

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store